.custom-input {
    padding: 10px 12px 10px 12px;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    box-shadow: 0px 2px 4px -2px #0000001F;
    width: calc(100% - 26px);
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666C7B;
}

.custom-input-wrapper {
    position: relative;
}

.input-svg {
    max-height: 18px;
    position: absolute;
    right: 5%;
    bottom: calc(100% - 28px);
}