.payment-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-area__card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.payment-area__input-wrappers{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}