.header {
    height: 56px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .header {
        max-width: 872px;
        margin: auto;
        justify-content: end;
    }
}

@media screen and (max-width: 999px) {
    .header {
        max-width: 872px;
        margin: auto;
        justify-content: space-between;
    }
}