.content-layout {
    display: flex;
    gap: 32px;
}

@media screen and (max-width: 999px) {
    .content-layout {
        flex-direction: column;
    }
}

.content-row {
    flex: 1;
    height: 100%;
    width: 100%;
}