.custom-button {
    height: 48px;
    border-radius: 6px;
    border: none;
    bottom: 0px;
    cursor: pointer;
    transition: all 80ms ease-in;
}

.custom-button:hover {
    position: relative;
    bottom: 2px;
}